// INTER 500
@font-face {
    font-family: "Inter 500";
    src: local(''),
    url("../fonts/Inter/static/Inter-Medium.ttf") format("woff");
}

// INTER 400
@font-face {
    font-family: "Inter 400";
    src: local(''),
    url("../fonts/Inter/static/Inter-Regular.ttf") format("woff");
}
// INTER 700
@font-face {
    font-family: "Inter 700";
    src: local(''),
    url("../fonts/Inter/static/Inter-Bold.ttf") format("woff");
}

